<ion-header [translucent]="true">
  <ion-toolbar color="#222428">
    <ion-img src="assets/logos/Exodus_alternative_transparent.png" slot="start" style="width: 140px; height: 50px; padding-left: 10px;"></ion-img>
    <div slot="end"> 
      <div style="padding-left: 20px; float: left;">
        <ion-button fill="clear" color="dark" style="font-family: 'Quicksand', sans-serif; font-weight: 300;">Products</ion-button>    
      </div>
      <div style="padding-left: 20px; float: left;">
        <ion-button fill="clear" color="dark" style="font-family: 'Quicksand', sans-serif; font-weight: 300;">About</ion-button>    
      </div>
      <div style="padding-left: 20px; float: left;">
        <ion-button fill="clear" color="dark" style="font-family: 'Quicksand', sans-serif; font-weight: 300;">Contact</ion-button>    
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="width: 100%;">
    <p style="font-family: 'Quicksand', sans-serif; font-weight: 500; font-size: 36px; text-align: center; padding-top: 50px;"> Exodus 1</p>
    <p style="font-family: 'Quicksand', sans-serif; font-weight: 300; text-align: center;">A very quiet keyboard</p>
  </div>
</ion-content>
